body {
  padding-top: 70px;
  padding-bottom: 30px;
}

form {
  border: 1px solid #E1E1E8;
  padding: 1em;
  background-color: #F7F7F9;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
